@import "tailwindcss";
@theme {
  /* ── Shared ── */
  --color-teal: #35C28D;
  --color-purple: #9E96EF;
  --color-pink: #E76F9C;
  --color-amber: #E2A64C;
  --color-red: #FB2C36;
  --color-blue: #5BA2E9;
  --color-blue2: #0080ff;
  --color-ok: #35C28D;
  --color-edit: #E2A64C;
  --radius-default: 12px

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Space Grotesk', sans-serif;
  
  --color-bg: #0F1113;
  --color-surface: #181B1F;
  --color-surface2: #20242A;
  --color-ink: #E9EBEE;
  --color-muted: #9398A0;
  --color-line: rgba(255, 255, 255, 0.07);
  --color-line2: rgba(255, 255, 255, 0.13);
  --shadow-aura: 0 0 20px 0 rgba(0, 0, 0, 0.08);
  --shadow-aura-strong: 0 0 25px 0 rgba(0, 0, 0, 0.15);
}

.light {
  --color-bg: #F0F0EC;
  --color-surface: #F8F8F5;
  --color-surface2: #E8E8E3;
  --color-ink: #1C1C1E;
  --color-muted: #72727A;
  --color-line: rgba(0, 0, 0, 0.08);
  --color-line2: rgba(0, 0, 0, 0.15);
  --color-edit: #E76F9C;
  --shadow-aura: 0 2px 12px 0 rgba(0, 0, 0, 0.08);
  --shadow-flat: 0 12px 0px 0px rgba(0, 0, 0, 0.50);
  --shadow-aura-strong: 0 4px 20px 0 rgba(0, 0, 0, 0.14);
}

#root {
  width: 1126px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

* {
  /* border: 1px solid red; */
}

body {
  max-width: 560px;
  height: 100%;
  margin: 0 auto;
  padding: 18px 14px 60px;
  background-color: var(--color-bg);
  transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}